@import '../general/variables.scss';

.list-wrapper{
    display: flex;
    flex-direction: column;
    height: 80%;

}
.list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $secondary-color;
    justify-content: flex-start;
    padding: 2%;
    overflow: scroll;
    &-item{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $primary-color;
        margin: 1%;
        padding: 5%;
        &.selected{
            box-shadow: 0 0 6px 3px #979797;
        }
    }
}
.new-conversation{
    border: 1px solid black;
    padding: 2%;
    display: flex;
    flex-direction: column;
    #createButton{
        width: 50%;
        align-self: center;
        margin-top: 3%;
    }
}